.factory {
    box-sizing: border-box;
    // .factory__title

    &__title { 
        
    }

    // .factory__elems

    &__elems {
        margin-top: -20px;
    }

    // .factory__elem

    &__elem {
        display: flex;
        align-items: flex-start;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #00000036;
    }

    // .factory__btn

    &__btn {
        width: 40%;
        margin-right: 30px;
        border: none;
        background-color: transparent;
        text-align: left;
        display: flex;
        align-items: flex-start;
        span {
            font-weight: 500;
            font-size: 18px;
            &:first-child {
                margin-right: 15px;
            }
        }
    }

    // .factory__text

    &__text {
        width: 60%;
        p {
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
        }
    }
}

@media(max-width:768px) {
    .factory {
        &__elem {
            flex-direction: column;
            button {
                width: 100%;
                margin: 0;
                &.active {
                    &::after {
                        opacity: 0;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    right: 15px;
                    top: 25px;
                    width: 20px;
                    height: 2px;
                    background-color: #000;
                    opacity: .4;
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: 15px;
                    top: 25px;
                    transform: rotate(90deg);
                    width: 20px;
                    height: 2px;
                    background-color: #000;
                    opacity: .4;
                    transition: .5s ease;
                }
            }
        }
        &__text {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            transition: .45s ease;
            max-height: 0;
            overflow: hidden;
            p {
                opacity: 0;
                transition: .5s ease;
                padding: 10px 0;
                font-size: 14px;
            }
            &.active {
                p {
                    opacity: 1;
                }
            }
        }
    }
}