@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font: 'Montserrat', sans-serif;

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 15px;
}

body {
    font-family: $font;
    background: rgb(244, 246, 251);
}

.section-title {
    margin: 0 0 30px;
    .title-elem {
        margin: 0;
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 700;
        display: block;
        @media(max-width:920px) {
            font-size: 20px;
        }
    }
}

.subtitle {
    font-size: 14px;
    color: #000;
    opacity: .7;
    display: block;
    margin-bottom: 10px;
}