.main-btn {
    display: block;
    width: fit-content;
    box-sizing: border-box;
    padding: 12px 40px;
    text-align: center;
    color: #fff;
    background-color: #4999E4;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    border: none;

    &.trans-btn {
        color: #4999E4;
        border: 2px solid #4999E4;
        background-color: transparent;
    }
}

.burger-btn {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        left: 2.5px;
        top: 5px;
        width: calc(100% - 5px);
        height: 2px;
        border-radius: 1px;
        background-color: #000;
        opacity: .5;
    }

    span {
        position: absolute;
        left: 2.5px;
        top: calc(50% - 1px);
        width: calc(100% - 5px);
        height: 2px;
        border-radius: 1px;
        background-color: #000;
        opacity: .5;
    }

    &::after {
        content: '';
        position: absolute;
        left: 2.5px;
        top: calc(100% - 7px);
        width: calc(100% - 5px);
        height: 2px;
        border-radius: 1px;
        background-color: #000;
        opacity: .5;
    }
}


.close-menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: calc(50% - 2px);
        width: 100%;
        height: 2px;
        background-color: #000;
        border-radius: 1px;
        transform: rotate(45deg);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: calc(50% - 2px);
        width: 100%;
        height: 2px;
        background-color: #000;
        border-radius: 1px;
        transform: rotate(-45deg);
    }
}

.black_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: .5s ease;
    opacity: 0;
    z-index: 4;
    background-color: #000;
    visibility: hidden;

    &.active {
        visibility: visible;
        opacity: .4;
    }
}


.cart-btn {
    width: 100%;
    display: block;
    background-color: #51a8ff;
    color: #fff !important;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 5px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 18px;
    transition: .35s ease;
    &:hover {
        background-color: #188bff;
    }
}

.btn-category-show {
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #188bff;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}