.partners {
    box-sizing: border-box;
    margin-bottom: 30px;
    // .partners__title

    &__title {
    }

    // .partners__slider

    &__slider {
        padding: 10px 0;
        box-sizing: border-box;
    }

    // .partners__slider-slide

    &__slider-slide {
        display: flex;
        justify-content: center;
        &:hover {
            img {
                filter: grayscale(0);
            }
        }
        img {
            max-width: 100%;
            box-sizing: border-box;
            object-fit: cover;
            filter: grayscale(1);
            transition: .5s ease;
        }
    }
}
